<h1 class="ml-2 mt-2">Settings</h1>
<hr  class="ml-3 col-md-3" />
<div class="jumbotron">
  <%= bootstrap_form_with model: @user do |form| %>
    <%= form.email_field :email, bootstrap: {label: {value: "Change email:", class: "ml-3"}}, class: "ml-3 col-md-6" %>
    <%= form.text_field :username, bootstrap: {label: {value: "Change Username:", class: "ml-3"}}, class: "ml-3 col-md-6" %>
    <%= form.password_field :password , bootstrap: {label: {value: "Enter or Change Password:", class: "ml-3"}}, class: "ml-3 col-md-6", minlength: "7" %>
    <%= form.submit "Update", class: "ml-3" %>
  <% end %>
</div>