<article class="d-block pt-2 player-show">
  <h4 class="p-1"><%= player['full_name'] %></h4>
  <h6 class="pl-2"><%= "#{(flex || player['position'])} - #{player['team']}" %></h6>
  <figure "d-inline-block">
    <img src=<%= player['image'] %> />
    <figcaption>
      <small><em>nfl.com</em></small>
    </figcaption>
  </figure>
  <aside class="mb-3 ml-4">
    <dl>
      <dt>
        Projected This Week:
      </dt>
      <dd>
        <%= player["weekly_#{type}"] %> points
      </dd>

      <dt>
        Projected This Year:
      </dt>
      <dd>
        <%= player['projected'] %> points
      </dd>

      <dt>
        Weekly Stats:
      </dt>
      <dd>
        <% if player['wks'] == "N/A" %>
          N/A
        <% else %>
          <% player.wks.each do |arr| %>
            <span><%= arr[0] %>:</span>
            <small><%= arr[1] %></small>
            <br />
          <% end %>
        <% end %>
      </dd>

      <dt>
        Previous Years:
      </dt>
      <dd>
        <% if player['yrs'] == "N/A" %>
          N/A
        <% else %>
          <% player['yrs'].each do |arr| %>
            <span><%= arr[0] %>:</span>
            <small><%= arr[1] %></small>
            <br />
          <% end %>
        <% end %>
      </dd>

    </dl>
  </aside>
</article>