<article class="d-block pt-2 player-show">
  <h4 class="p-1"><%= player['full_name'] %></h4>
  <figure>
    <img src=<%= player['image'] %> class="small" />
    <figcaption>
      <small><em>fantasyfootballnerd.com</em></small>
      <% unless player['position'] ==  "DEF" %>
        <dl class='text-center mt-3'>
          <dt>
            Injuries:
          </dt>
          <dd>
            <%= player["injuries"] %>
          </dd>
          <dt>
            More info:
          </dt>
          <dd>
            <%= link_to "4for4", player["links"]["for4"], target: "_blank", class: "plink bland-h1" %> | 
            <%= link_to "FFNerd", player["links"]["ffnerd"], target: "_blank", class: "plink bland-h1" %>
          </dd>
        </dl>
      <% end %>
    </figcaption>
  </figure>
  <aside class="mb-3 ml-4 w-75">
    <dl>
      <dt>Position/Team:</dt>
      <dd><%= "#{(flex || player['position'])} - #{player['team']}" %></dd>
      <dt>
        Projected This Week (<%= player["schedule"] %>):
      </dt>
      <dd>
        <%= player["weekly_#{type}"] %> points
      </dd>

      <dt>
        Projected This Year:
      </dt>
      <dd>
        <%= player['projected'] %> points
      </dd>

      <dt>
        Weekly Stats:
      </dt>
      <dd>
        <%= render 'players/stat', stat: player['wty'] %>
      </dd>

      <dt>
        Previous Years:
      </dt>
      <dd>
        <%= render 'players/stat', stat: player['l5'] %>
      </dd>

    </dl>
  </aside>
</article>