<article class="d-block pt-2 player-show">
  <h4 class="p-1"><%= player['full_name'] %></h4>
  <figure>
    <img src=<%= player['image'] %> class="small" />
    <figcaption>
      <small><em>fantasyfootballnerd.com</em></small>
      <% unless player['position'] ==  "DEF" %>
        <dl class='text-center'>
          <dt>
            Injuries:
          </dt>
          <dd>
            <%= player["injuries"] %>
          </dd>
          <dt>
            More info:
          </dt>
          <dd>
            <%= link_to "4for4", player["links"]["for4"], target: "_blank", class: "plink bland-h1" %> | 
            <%= link_to "FFNerd", player["links"]["ffnerd"], target: "_blank", class: "plink bland-h1" %>
          </dd>
        </dl>
      <% end %>
    </figcaption>
  </figure>
  <aside class="mb-3 ml-4">
    <dl>
      <dt>Position/Team:</dt>
      <dd><%= "#{(flex || player['position'])} - #{player['team']}" %></dd>
      <dt>
        Projected This Week (<%= player["schedule"] %>):
      </dt>
      <dd>
        <%= player["weekly_#{type}"] %> points
      </dd>

      <dt>
        Projected This Year:
      </dt>
      <dd>
        <%= player['projected'] %> points
      </dd>

      <dt>
        Weekly Stats:
      </dt>
      <dd>
        <% if player['wks'] == "N/A" %>
          N/A
        <% else %>
          <% player['wks'].each do |arr| %>
            <span><%= arr[0] %>:</span>
            <small><%= arr[1] %></small>
            <br />
          <% end %>
        <% end %>
      </dd>

      <dt>
        Previous Years:
      </dt>
      <% if player['yrs'] == "N/A" %>
        <dd class="pb-3">
          N/A
      <% else %>
        <dd>
          <% player['yrs'].each do |arr| %>
            <span><%= arr[0] %>:</span>
            <small><%= arr[1] %></small>
            <br />
          <% end %>
        <% end %>
      </dd>

    </dl>
  </aside>
</article>