<main class="mt-1" style="background: black;">
  <div class="text-center p-3" id="comparison-board">
    <h1 class="comparison" id="comparison-title"><%= @lineup.name %> vs opponent</h1>
    <hr />
    <div class="text-left" id="inner-board">
      <dl class="d-inline-block col-md-5 p-2 comparison" id="dl-home">
        <div id="home-team">
          <% @starters.each do |plyr| %>
            <dt class="h6 d-inline-block"><%= plyr[0].full_name %></dt>
            <dd class="d-inline-block"><%= "#{plyr[0].position} - #{plyr[0].team}" %></dd>
            <br />
            <dd class='d-inline-block px-1'><b><%= plyr[2] %> points</b> (this week)</dd>
            <dd class="d-inline-block"><%= plyr[1] %> points (season)</dd>
            <br />
          <% end %>
          <h4 class="pl-5 pr-5 pt-3"><%= @total %> points this week</h4>
        </div>
      </dl>
      <dl class="d-inline-block col-md-5 p-2 comparison" id= "dl-opp">
        <div id="opponent">
        </div>
      </dl>
    </div>
  </div>
</main>

<h2 class="text-center p-2">Pick Players:</h2>
<hr />
<%= form_tag add_comparison_lineup_path, remote: true, class: "mt-2 mb-2" do %>
  <% Statistic.draft.each do |pos, plyrs| %>
    <h3 class="text-center"><%= pos %></h3>
    <hr />
    <div class="container">
      <% plyrs.each do |ply| %>
        <%= hidden_field_tag "lineup[players[][ff_id]]", ply["player_id"] %>
        <%= check_box_tag "lineup[players[][full_name]]", ply["displayName"] %>
        <%= label_tag "#{ply['displayName']} (Team: #{ply['team']}, Projected: #{ply['fantasyPoints']} pts.)" %>
      <% end %>
    </div>
    <br />
  <% end %>
  <div class="text-center">
    <%= submit_tag "Create", class: "btn btn-default" %>
  </div>
<% end %>

