<main class="mt-1" id="comparison-main">
  <div class="text-center p-3" id="comparison-board">
    <h5 class="comparison">Week <%= CURRENT_WEEK %> - <%= @type %> scoring</h5>
    <h1 class="comparison" id="comparison-title"><%= @lineup.name %> vs opponent</h1>
    <hr />
    <div class="text-left" id="inner-board">
      <dl class="d-inline-block col-md-5 p-2 comparison text-center" id="dl-home">
        <div id="home-team">
          <% @starters.each do |plyr| %>
            <dt class="h6"><%= plyr['full_name'] %><span class="px-1">&nbsp;</span><%= "#{plyr['position']} - #{plyr['team']} vs #{player['schedule']}" %></dt>
            <dd><b><%= plyr["weekly_#{@type}"] %> points</b></dd>
            <dd>Injuries: <%= plyr['injuries'] %></dd>
            <hr />
          <% end %>
          <h4 class="text-center"><%= @total %> points this week</h4>
        </div>
      </dl>
      <dl class="d-inline-block col-md-5 p-2 comparison text-center" id= "dl-opp">
        <div id="opponent">
        </div>
      </dl>
    </div>
  </div>
</main>

<%= form_tag add_comparison_lineup_path, remote: true, class: "mt-2 mb-2" do %>
  <h2 class="text-center p-2 bland-h1">Pick Players:</h2>
  <div class="text-center mb-4">
    <%= submit_tag "Compare", class: "btn btn-default btn-idx" %>
  </div>

  <%= render 'set' %>
  <div class="text-center">
    <%= submit_tag "Compare", class: "btn btn-default btn-idx" %>
  </div>
  <hr />
<% end %>

