<div class="text-center p-3">
  <h1 class="bland-h1">Your Lineups</h1>
  <h4 class="blink pb-2"><%= link_to "+ Create a new lineup", new_lineup_path %></h4>
  <hr />
  <div class="text-left">
    <% @lineups.each do |lineup| %>
      <dl class="d-inline-block pt-1 dl-lineup-idx">
        <article class="player-idx">
          <%= link_to "&times;".html_safe, lineup_path(lineup), method: "delete", remote: true, class: "btn btn-sm btn-danger lineup-del" %>
          <dt class="h4 blink text-center mx-2"><%= link_to lineup.name, lineup_path(lineup) %></dt>
          <dd class="mx-2 px-4">
            <%= link_to "Add", lineup_players_path(lineup), class: "btn btn-default btn-idx" %>
            <%= link_to "Edit", edit_lineup_path(lineup), class: "btn btn-default btn-idx" %>
            <%= link_to "Comp", compare_lineup_path(lineup), class: "btn btn-default btn-idx" %>
          </dd>
          <hr />
          <% lineup.players.each do |plyr| %>
            <dd class="mx-2"><%= "#{plyr.full_name} (#{plyr.status})" %></dd>
          <% end %>
        </article>
      </dl>
    <% end %>
  </div>
</div>