<h1 class="text-center m-3">Add Players:</h1>
<hr />
<% @all_players.each do |player| %>
  <article class="d-inline-block pt-2 player-idx">
    <h4 class="pl-1"><%= player['full_name'] %></h4>
    <h6 class="pl-2"><%= "#{player['position']} - #{player['team']}" %></h6>
    <figure "d-inline-block">
      <img src=<%= player['image'] %> />
      <figcaption>
        <small><em>nfl.com</em></small>
      </figcaption>
    </figure>
    <aside class="mb-3 ml-4">
      <dl>
        <dt>
          Projected This Week:
        </dt>
        <dd>
          <%= player['weekly'] %> points
        </dd>

        <dt>
          Projected This Year:
        </dt>
        <dd>
          <%= player['projected'] %> points
        </dd>

      </dl>
      <%= button_to "+ Add", { action: "create" }, class: "btn btn-primary", id: "button-#{player['ff_id']}", remote: true, params: { "player" => player } %>
    </aside>
  </article>
<% end %>