<div class="text-center">
  <h1 class="p-3 bland-h1"><%= @player['full_name'] %></h1>
  <h3 class="bland-h1"><%= "#{@player['position']} - #{@player['team']}" %></h3>
  <article class="d-block p-4 player-show w-75 mx-auto">
    <figure class="roster-figure">
      <img src=<%= @player['image'] %> />
      <figcaption>
        <small><em>fantasyfootballnerd.com</em></small>
      </figcaption>
    </figure>
    <aside class="mb-3 ml-1">
      <dl>
        <% unless @player['position'] == 'DEF' %>
          <dt>
            Injuries:
          </dt>
          <dd>
            <%= @player["injuries"] %>
          </dd>
        <% end %>
        <dt>
          Projected This Week (<%= player["schedule"] %>):
        </dt>
        <dd>
          <%= @player["weekly_standard"] %> points (standard)
        </dd>
        <dd>
          <%= @player["weekly_ppr"] %> points (ppr)
        </dd>

        <dt>
          Projected This Year:
        </dt>
        <dd>
          <%= @player['projected'] %> points
        </dd>

        <dt class="pt-2">
          Past Stats (PPR):
        </dt>
        <dd>
          <em>This Year:</em>
          <br />
          <% if @player['ppr_wks'] == "N/A" %>
            <div>N/A</div>
          <% else %>
            <% @player['ppr_wks'].each do |arr| %>
              <span class="text-left"><%= arr[0] %>:</span>
              <small class="text-left"><%= arr[1] %></small>
              <br />
            <% end %>
          <% end %>
        </dd>
        <dd>
          <em>Past Seasons:</em>
          <br />
          <% if @player['ppr_yrs'] == "N/A" %>
            <div>N/A</div>
          <% else %>
            <% @player['ppr_yrs'].each do |arr| %>
              <span class="text-left"><%= arr[0] %>:</span>
              <small class="text-left"><%= arr[1] %></small>
              <br />
            <% end %>
          <% end %>
        </dd>

        <% unless @player['position'] == 'DEF' %>
          <dt>
            More info:
          </dt>
          <dd>
            <%= link_to "4for4", @player["links"]["for4"], target: "_blank", class: "plink bland-h1" %> | 
            <%= link_to "FFNerd", @player["links"]["ffnerd"], target: "_blank", class: "plink bland-h1" %>
          </dd>
        <% end %>

      </dl>
    </aside>
    <br />
    <%= link_to "Back", :back, class: "btn btn-default btn-lg" %>
  </article>
</div>